<% include header %>


<body>
  <div>
    <div>
      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="padding-left:130px;">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">Home<span class="sr-only">(current)</span></a></li>
          <li><a href="/chat">Chat</a></li>
          <li><a href="/contact">Session : <%= data %></a></li>
          <li><a href="/contact">Adress : <%= address  %></a></li>

          <form action="/todo/add" method="post" class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" name="task" class="form-control"  placeholder="Task">
            </div>
            <button type="submit"  class="btn btn-default">Add it !</button>
          </form>
        </ul>
      </nav>
    </div>
    <br/>
    <hr/>
    <div class="jumbotron"> <p>
      This a simple todoList made with NodeJs.
    </p>
    <p>All task were save in session variable.</p>
    <p>lon : <%= lon %>; lat : <%= lat %>; url : <%= ip %> : <%= port %> </p>
  </div>
  <br/>


  <div class="row">
    <div class=" col-sm-offset-3 col-sm-6 ">
      <ul class="list-group">
        <li class="list-group-item list-group-item-info">
          <span class="badge"></span>
          My todo List
        </li>
        <% list.forEach(function(task, index){ %>
          <li class="list-group-item">
          <span class="badge"><a  href="/todo/delete/<%= index %>">X</a></span>
          <%= task %>
          </li>
          <% });%>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-offset-1 col-sm-10"
      <h3>My Google Maps Demo</h3>
      <div id="map"></div>
    </div>
  </div>

</div>
</div>


<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>

    // Connexion à socket.io
    var socket = io.connect('http://localhost:8888');

 // On demande le pseudo, on l'envoie au serveur et on l'affiche dans le titre
    var name = prompt('What\'s your name ?');
    socket.emit('new_client', name);

    /*
    document.title = pseudo + ' - ' + document.title;

    // Quand on reçoit un message, on l'insère dans la page
    socket.on('message', function(data) {
        insereMessage(data.pseudo, data.message)
    })

    // Quand un nouveau client se connecte, on affiche l'information
    socket.on('nouveau_client', function(pseudo) {
        $('#zone_chat').prepend('<p><em>' + pseudo + ' a rejoint le Chat !</em></p>');
    })

    // Lorsqu'on envoie le formulaire, on transmet le message et on l'affiche sur la page
    $('#formulaire_chat').submit(function () {
        var message = $('#message').val();
        socket.emit('message', message); // Transmet le message aux autres
        insereMessage(pseudo, message); // Affiche le message aussi sur notre page
        $('#message').val('').focus(); // Vide la zone de Chat et remet le focus dessus
        return false; // Permet de bloquer l'envoi "classique" du formulaire
    });

    // Ajoute un message dans la page
    function insereMessage(pseudo, message) {
        $('#zone_chat').prepend('<p><strong>' + pseudo + '</strong> ' + message + '</p>');
    }*/
</script>



<!-- Google map -->
<script>
function initMap() {
  var uluru = {lat: <%= lat %>, lng: <%= lon %>};
  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 4,
    center: uluru
  });
  var marker = new google.maps.Marker({
    position: uluru,
    map: map
  });
}
</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCqR62vWma24LGQ1REE6NQ2-kahuD-Xg6g&callback=initMap">
</script>

</body>
</html>
